<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sctek.cn.ysbracelet">

    <!-- bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".YsApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DkaEMbpsspUyE1XTnRSrcwB3" />

        <activity
            android:name=".activitys.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ble.BluetoothLeService" />

        <activity android:name=".activitys.SportsStatisticsActivity" />
        <activity android:name=".activitys.LoginActivity" />
        <activity android:name=".activitys.RegisterActivity" />
        <activity
            android:name=".activitys.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.HeartRateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.SetUserInfoActivity" />
        <activity
            android:name=".activitys.PersonalHistoryHRateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.PersonalSportsAcitvity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.PersonalHistorySportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.PersonalSleepAcitvity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.PersonalHistorySleepActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.LocationAcitvity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.WarnActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.AlarmEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.FenceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.PersonalHRateStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.PersonalSportsStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activitys.PersonalSleepStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.FamilyHRateStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activitys.FamilySportsStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activitys.FamilySleepStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
